body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

.app {
  padding: 10px;
}

video {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 10px;
}

#output {
  margin-top: 15px;
  font-size: 22px;
  background: #111;
  padding: 15px;
  border-radius: 10px;
  min-height: 50px;
}

button {
  width: 90%;
  max-width: 400px;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #1e90ff;
  color: white;
}
